#container {
    margin: 0;
    text-align: center;
    width: 900px;
}


#box1 {
    color: white;
    background-color: #364f6b;
    height: 300px;
    width: 300px;
}

#box2 {
    color: white;
    background-color: #3fc1c9;
    height: 300px;
    width: 300px;
}

#box3 {
    color: white;
    background-color: #aa96da;
    height: 300px;
    width: 300px;
}

#box4 {
    color: white;
    background-color: #8785a2;
    height: 300px;
    width: 300px;
}